body{
	background-image:url("libro-en-blanco.jpg");
}
table{
	border:3px solid black;
	width:60%;
	border-collapse:collapse;
	text-align: center;
	margin-left:290px;
	margin-top:40px;
}
table td {
	padding:15px;
	border: 1px solid black;
}
h1 {
	text-align: center;
	margin-top:15px;
	Font-family:Algerian;	
}
div.imf { 	
    
	width: 128px;
  	height: 128px;
   	background: url(https://static.wixstatic.com/media/aade99_099b589a6bab4fd081c61e71b2a50216~mv1.png/v1/fill/w_128,h_128,al_c,usm_0.66_1.00_0.01/aade99_099b589a6bab4fd081c61e71b2a50216~mv1.png) ;
	}
div.icono{
	float:right;
	


div.cuadro {
	margin-left:-8px;
	max-width: 1200px;
	border:5px;
	border-style: dashed;
	Background-color:#FFA200 ;
	Font-family:Algerian;
	position:fixed;
	width:100%;
	height:60%;
    }
div.dia {
	border:1px;
	border-style: dashed;
	Background-color:#FFA200 ;
	Font-family:Algerian;
	position:fixed;
	width:6%;
	height:537px;
}
div.Horas {
	border:1px;
	border-style:hidden;
	Background-color:#FFA200 ;
	Font-family:Algerian;
	position:float;
	width:6%;
	height:89px;
}