* {
	background-color:#FFB600;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

li {
    float: left;
	border-right: 1px solid #bbb;
}

li a {
	width:100px;
    display: block;
    color: #000000  ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	 background-color:#06F8F1;
}

/* Change the link color to #111 (black) on hover */
li a:hover:not(.active) {
    background-color:#FC6464;
}
.active {
    background-color:#00FE00;
}
#caja {
	border:5px solid #bbb;
	background-color:#93F96D;
	margin-top: 50px;
	margin-left: 300px;
	position:Center;
	width:60%;
}
div.pI{
	border:5px solid #bbb;
	margin:15px;
	width:50%;
	margin-top:2%;
	padding:10px;
	background-color:#fff;
	font-family:Helvetica;
	
	
	}
div.pD{
	border:5px solid #bbb;
	margin:15px;
	width:50%;
	margin-left:40%;
	margin-top:2%;
	padding:10px;
	background-color:#fff;
	font-family:Helvetica;
	}
div.sick1 { 	
	width: 72px;
  	height: 65px;
   	background: url(https://cdn-images-1.medium.com/max/360/1*_lVsnEjZp8qUtbVcePntwA.png) -1px -150px;
	}
div.sick2 { 	
	width: 72px;
  	height: 65px;
   	background: url(https://cdn-images-1.medium.com/max/360/1*_lVsnEjZp8qUtbVcePntwA.png) -145px -78px;
	}
div.sick3 { 	
	width: 72px;
  	height: 65px;
   	background: url(https://cdn-images-1.medium.com/max/360/1*_lVsnEjZp8qUtbVcePntwA.png) -1px -1px;
	}
div.icono{
	float:right;
	margin-top:110px;
	
}
div.Face { 	
    
	width: 150px;
  	height: 130px;
   	background: url(https://image.flaticon.com/sprites/new_packs/145797-social-network-logo-collection.png) -30px -30px;
	}
div.Twitter { 	
    
	width: 150px;
  	height: 130px;
   	background: url(https://image.flaticon.com/sprites/new_packs/145797-social-network-logo-collection.png) -220px -30px;
	}
div.Insta { 	
    
	width: 150px;
  	height: 130px;
   	background: url(https://image.flaticon.com/sprites/new_packs/145797-social-network-logo-collection.png) -420px -30px;
	}
div.Pinte { 	
    
	width: 150px;
  	height: 130px;
   	background: url(https://image.flaticon.com/sprites/new_packs/145797-social-network-logo-collection.png) -420px -217px;
	}
